.alert-success {
    background-color: green;
    color: mintcream;
}

.alert-warning {
    background-color: yellow;
    text-align: center;
}

.alert-danger {
    background-color: red;
    color: white;
    font-size: large;
}

.alert-info {
    color:green;
    font-size: medium;
}
nav {background-color: mistyrose;}
nav li{display: inline}
nav li a
{  
    text-align: center;
    padding: 25px 16px;
}

#navbarDropdown
{  
    text-align: center;
    padding: 1px 25px;
}

nav li a:hover {background-color: rosybrown}

body{
    background-color:seashell;
    color:maroon;

}